<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<h3>
				User Add Error
			</h3>
            <p class="text-left text-danger">
                @ViewData["ErrorMessage"]
            </p>             
            <a href="~/Home/Index" class="btn btn-primary" role="button">
                Home
            </a>            
            <a href="~/uBid/AddUser" class="btn btn-primary" role="button">
                Return
            </a>        
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>