@model uBidProjectIdentity.Models.ItemModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Place Bid</h2>

<h4>ItemModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="itemID" />
            <input type="hidden" asp-for="name" />
            <input type="hidden" asp-for="longDesc" />
            <input type="hidden" asp-for="shortDesc" />
            <input type="hidden" asp-for="serialNum" />
            <input type="hidden" asp-for="modelNum" />
            <input type="hidden" asp-for="reservePrice" />
            <input type="hidden" asp-for="category" />
            <input type="hidden" asp-for="startTime" />
            <input type="hidden" asp-for="endTime" />
            <!--
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="longDesc" class="control-label"></label>
                <input asp-for="longDesc" class="form-control" />
                <span asp-validation-for="longDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="shortDesc" class="control-label"></label>
                <input asp-for="shortDesc" class="form-control" />
                <span asp-validation-for="shortDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="serialNum" class="control-label"></label>
                <input asp-for="serialNum" class="form-control" />
                <span asp-validation-for="serialNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modelNum" class="control-label"></label>
                <input asp-for="modelNum" class="form-control" />
                <span asp-validation-for="modelNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reservePrice" class="control-label"></label>
                <input asp-for="reservePrice" class="form-control" />
                <span asp-validation-for="reservePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="category" class="control-label"></label>
                <input asp-for="category" class="form-control" />
                <span asp-validation-for="category" class="text-danger"></span>
            </div>
                -->
            <div class="form-group">
                <label asp-for="highestBid" class="control-label"></label>
                <input asp-for="highestBid" class="form-control" />
                <span asp-validation-for="highestBid" class="text-danger"></span>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="startTime" class="control-label"></label>
                <input asp-for="startTime" class="form-control" />
                <span asp-validation-for="startTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endTime" class="control-label"></label>
                <input asp-for="endTime" class="form-control" />
                <span asp-validation-for="endTime" class="text-danger"></span>
            </div>
                -->
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
