@model uBid.Models.ItemModel

@{
    ViewData["Title"] = "Create Item";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">			 
				
			</nav>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<form asp-action="test">
				<div class="form-group">
                    <label for="Category">
						Category
					</label>
                    <select>
                    <option value="1">Clothing</option>
                    <option value="2">Automobile</option>
                    <option value="3">Properties</option>
                    <option value="4">Electronics</option>
                    </select>
					 
					
				</div>
				<div class="form-group">
                    <label for="textinput">
						Item name
					</label>
					<input asp-for="name" class="form-control" type="text" placeholder="Item name" />
					 
					<label for="textinput">
						Item Serial Number
					</label>
					<input type="text" class="form-control" asp-for="serialNum" />
				</div>		
                <div class="form-group">
					 
					<label for="textinput">
						Item Model Number
					</label>
					<input type="text" class="form-control" asp-for="modelNum" />
				</div>	
                <div class="form-group">
					 
					<label for="textinput">
						Item description
					</label>
					<input type="text" class="form-control" asp-for="longDesc" />
				</div>	
                <div class="form-group">
					 
					<label for="number">
						Set Reserve Price
					</label>
					<input type="number" class="form-control" asp-for="reservePrice" min=0 step="any" />
				</div>
				
				<button type="submit" class="btn btn-primary" value="test">
					Submit
				</button>
			</form>
		</div>	
	</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
